* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(120deg, rgb(13, 0, 255) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-family: 'Sono', sans-serif;
    color: white;
}



/* GAME */

#board-game {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    width: 100%;
    height: 50%;
    font-family: 'Sono', sans-serif;
    color: white;
    text-align: center;
}

.cards-container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 5px;
}

.card {
    border: solid 1px rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: transparent;
    /* transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1); */
    backface-visibility: hidden;
    font-size: 50px;
    padding: 10px;
}

/* .card-back {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card .flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card .flipped .card-back {
    transform: rotateY(0) rotateZ(0);
} */

.setup {
    width: 100%;
    margin-top: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.time {
    font-size: 20px;
    color: #ffffff;
}

.btn {
    background-color: transparent;
    color: white;
    border-color: aliceblue;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-family: 'Sono', sans-serif;
}